/*Fonts*/
@font-face{
	font-family: 'Source Sans Pro';
	src: url('../include/SourceSansPro-Regular.otf');
}

@font-face{
	font-family: 'Open Sans';
	src: url('../include/OpenSans-Regular.ttf');
}

/*set all default font to open sans*/
*{
	font-family: "Open Sans";
}

html {
	height: 100%;
	box-sizing: border-box;
}

body{
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100vh; /* Avoid the IE 10-11 `min-height` bug. */
}

#MainContent{
	flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
}

/*WMU LOGO*/
.logo {
	width: 25%;
	padding: 0;
}
/*Example Budget image*/
.exampleBudget{
	width: 100%;
	min-width: 1000px;
	border: 3px solid blue;
}

/*give some extra margin to title areas*/
.title{
	margin-top: 50px;
	text-align: center;
}

/*table captions*/
caption{
	text-align: center!important; /*center captions*/
	color: #6f6f6f!important; /*dark grey color*/
}

/*Color warning text*/
.warning{ color: red; font-weight: bold; /*bold font*/}

/*Format page header*/
.page-header{
	margin: 0px 0px 20px 0px!important; /*no extra margin on header, only a bit underneath!*/
	border: none!important; /*no border*/
	padding-top: 30px;/*Pad down a bit!*/
	/*background-color: #c48b04;/*gold background color*/
	background-color: #442416; /*brown background color*/
	box-shadow: 0px 0px 5px rgba(0,0,0,0.8);/*slight shadow under header*/
	text-align: center; /*all header text centered by default*/
}

/*headings*/
.page-header .HomeText{
	font-family: "Source Sans Pro", Arial, Helvetica, sans-serif; /*Source Sans Pro for title*/

	color: #ffffff; /*plain white*/
	font-weight: bold; /*bold font*/
	display: block; /*show underneath image*/
	transition: all 300ms ease-out; /*cool transition on hover*/
}
/*modify secondary hometext to be smaller*/
h2.HomeText{
	font-size: 1.5em;
}

/*home buttons*/
.btn-home{
	margin-top: 30px!important; /*pad it down a bit*/
	font-size: 26px!important; /*larger text*/
	font-weight: bold!important; /*bold font*/

	color: #000000!important; /*black text*/
	background-color: #fcc30f!important; /*yellow button color*/
	background-image: none!important;
}
.btn-home:hover{
	background-color: #ffa600!important; /*yellow button color*/
}
.btn-home:focus{
	background-color: #eb9901!important;
}


/*Format page footer*/
.page-footer{
	width: 100%;
	flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
	padding: 1rem;
	background-color: #333333;
	color: #ffffff;
	text-align: center;
}
.page-footer h1{
	font-size: 1.6rem!important;
}
.page-footer h2, .page-footer a, .page-footer input{
	font-size: 1.4rem!important;
	color: #c2c2c2;
}
.page-footer a{
	text-decoration: underline;
}
.page-footer a:hover, .page-footer a:focus{
	color: #ffffff;
}
/*Condense address info lines*/
.page-footer .address-info h2{
	margin-top:0;
	margin-bottom: 5px;
}
.page-footer .address-info h1{
	margin-bottom: 5px;
}
#loginForm .btn-link{
	text-decoration: underline;
	margin-top: 20px;
	margin-bottom: 10px;
	padding: 0;
}
#loginForm .btn-link:hover, #loginForm .btn-link:focus{
	color: #ffffff;
}

/*link to main content -- hide it visually, but make it visible for screen readers*/
#mainContentLink{
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}

/*format button groups*/
.buttons-group{
	text-align: center;
	margin-bottom: 5px;
}
.delete-button-holder, .deny-button-holder, .approve-button-holder{
	padding: 30px;
	border-radius: 5px;
	margin-bottom: 10px;
}
.delete-button-holder > .form-group, .deny-button-holder > .form-group, .approve-button-holder > .form-group{
	margin-left: 0!important;
	margin-right: 0!important;
}
.delete-button-holder{
	background-color: rgba(255, 0, 0, 0.2);
}
.deny-button-holder{
	background-color: rgba(255, 150, 0, 0.2);
}
.approve-button-holder{
	background-color: rgba(0, 255, 0, 0.2);
}
.bottom-buttons{
	margin-top: 20px;
	margin-bottom: 20px;
}
.top-buttons{
	margin-top: 50px;
	margin-bottom: 20px;
}

/*Format admin page*/
#adminCtrl h2{
	margin-top: 100px;
}
#adminCtrl form{
	text-align: center;
}
#adminCtrl table{
	margin: auto;
	width: auto;
}
#adminCtrl caption{
	font-size: 2em;
}
.site-warning-form > .form-group{
	display: block!important;
	margin-bottom: 15px!important;
}
.site-warning-form > .form-group > textarea{
	width: 100%;
	text-align: center;
}

/*headings*/
h1, h2, h3, h4, h5{
	font-weight: bold; /*make them bold*/
	text-align: center;
}

/*format error help blocks, and highlight relevant fields*/
.help-block{
	color: #e00303!important;
}
.errorHighlight{
	border: 3px solid red;
}

/*By default, have alerts be fixed at the bottom of the screen. Increase the z-index a bit to render in front of some other elements that might otherwise get in the way*/
.alert{
	padding-left: 15px!important;
	padding-top: 0px!important;
	position: fixed;
	bottom: 0;
	min-width: 80%;
    left: 50%;
    transform: translateX(-50%);
	z-index: 2;
	transition: visibility 0s linear 0s, opacity 150ms; /*turn visibility on immediately at first*/
	white-space: pre-line; /*render newlines*/
}
.alert button{
	opacity: 1;
	font-size: 2em;
}
.hideAlert{
	opacity: 0!important;
	visibility: hidden;
	transition: visibility 0s linear 150ms, opacity 150ms; /*turn visibility off slowly after fade-out*/
}

/*hide elements that have the hidden tag*/
[hidden] {
	display: none !important;
}

/*style horizontal rules*/
hr{
	border-color:#a0a0a0!important; /*darker grey than default*/
}

/*style the site-error div that appears when the browser it detected as outdated*/
#site-error{
    width: 100%;
    background-color: #fc3737;
    color: #ffffff;
    text-align: center;
	font-size: 20px;
	padding: 15px 0px;
}

/*style the site-warning div that appears when there is a warning saved in the database*/
#site-warning-banner{
    width: 100%;
    background: repeating-linear-gradient(
		135deg,
		#fffdc4,
		#fffdc4 15px,
		#f4f184 15px,
		#f4f184 30px
	);
    text-align: center;
	font-size: 20px;
	padding: 15px 0px;
}
#site-warning-banner > p{ 
	margin: 0;
	display: inline-block;
	background-color: #fffdc4;
	border-radius: 3px;
    padding: 5px;
}


/*format the home page content*/
#homeCtrl{
	text-align: center;
}

/*format the page list on the home page*/
#pageList{
	margin: 25px 0px;
	padding: 0;
	list-style: none;
}
#pageList li{
	padding-top: 5px;
	min-width: 275px;
	max-width: 300px;
	height: 48px;
	margin: auto;
}
#pageList li a{
	width: 100%;
    height: 100%;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0;
}


/*Format profile list*/
.profile-list{
	text-align: center;
	padding: 0;
	max-width: 1400px; /*enough for 4 cards side by side*/
	margin: auto; /*center when necessary*/
}
.profile-list .profile-summary{
	width: 25%;
    display: inline-block;
    min-width: 275px;
    max-width: 300px;
	padding: 10px;
	margin: 3px;
	vertical-align: top;
}

.profile-button{
	margin: -10px;
	margin-top: 15px;
	height: 48px;
}
.profile-button a{
	width: 100%;
	height: 100%;
	display: block;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 20px;
	border-radius: 0;
}
.profile-summary-name, .profile-summary-affiliations, .profile-summary-email{
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
.profile-summary-name{
	height: 65.6px; /*height of 2 lines*/
}
.profile-summary-newProfile, .profile-summary-updatedProfile{
	/*text-align: center!important;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    margin: 0px;
    color: #FFFFFF;
	padding: 2px;*/
	top:0;
	width: 0;
	height: 0;
	border-top: 100px solid #396f3a;
	border-bottom: 100px solid transparent;
	border-left: 100px solid transparent;
	position:absolute;
	right:0;
}
.profile-summary-newProfile span, .profile-summary-updatedProfile span{
	position:absolute;
	top: -75px;
	width: 100px;
	left: -85px;
	text-align: center;
	font-size: 18px;
	/*font-family: arial;*/
	transform: rotate(45deg);
	display:block;
	color: #ffffff;
	font-weight: bold;
}
.profile-summary-updatedProfile{
	border-top-color: #a704b2;
}
.profile-summary-newProfile span{
	top: -82px;
    left: -83px;
	font-size: 24px;
}
.profile-summary-affiliations, .profile-summary-email{
	height: 38.4px; /*height of 2 lines*/
}
.profile-summary-foundIn{
	font-size: 26px;
}
.profile-summary-wildcard{
	height: 60px; /*height of 3 lines*/
}

.search-subtext{
	font-size: 18px;
}

/*Format Search Form*/

#profileSearchForm{
	text-align: center;
}
#profileSearchForm input{
	margin: auto;
	text-align: center;
}
#profileSearchForm .form-group{
	margin: 10px 0px;
}
#profileSearchForm .input-group{
	max-width: 400px;
	margin: auto;
}
/*Format code confirmation page*/
.profile-code h2{
	font-size: 1.2em;
	font-weight: bold;
}
.profile-code .input-group{
	width: 100%;
}
.profile-code .input-group-btn:last-child>.btn{
	width: 150px;
}
.profile-code .input-group{
	margin-bottom: 15px;
}
span.glyphicon{
	margin-right: 5px;
}
#profileSearchForm .row{
	margin: 0; /*override default negative margins*/
}
#profileSearchForm .advancedSearch h2{
	font-size: 14px;
	font-weight: 700
}
#profileSearchForm .advancedSearch .row:nth-child(odd){
	background-color: #f4f4f4;
}
#profileSearchForm .advancedSearch ul.user-list{
	text-align: left;
}

ul.user-list li{
    margin-bottom: 5px;
}

/*Format user profiles*/
.profile-summary{
	border: solid 2px #a0a0a0;
	word-wrap: break-word;
	text-align: center;
	position: relative;
}
.profile-summary ul{
	text-align: left;
	padding: 0;
}
.profile-summary h2{
	font-weight: bold;
}
.profile-summary h2:not(h2:first-child){ /*format h2s after first one*/
	font-size: 18px;
}
.profile-summary h3{
	font-size: 1.2em;
}
.profile-summary .btn{
	margin-bottom: 8px;
}

.profile h1, .profile h2, .profile h3, .profile h4, .profile h5{
	text-align: left;
}

.profile-info h2{
	font-size: 1.7em;
	font-weight: bold;
}

.profile-info h3{
	font-size: 17px;
	margin-bottom: 0;
}

.profile-info li{
	font-size: 17px;
}
.profile-info li li{
	font-size: 15px;
}

.profile ul.compactList li{
	display: inline;
}
.profile ul.compactList li:after {
	content: ", ";
}
.profile ul.compactList li:last-child:after {
	content: "";
}

.profile-info div{
	padding: 10px;
}
.profile-info > :nth-child(odd){
	background-color: #f4f4f4;
}

.profile select{
	width: auto;
    display: inline;
}

.profile label{
	margin: 5px;
}
.profile .form-group{
	margin-left: 0!important;
	margin-right: 0!important;
}

/*Format expiration time*/
.expiration{
	color: #c92a2a;
}

/*navigation menus (pagination)*/
nav{
	text-align: center;
}

/*Format admin approve/deny/delete decision box*/
.profileDecisionBox{
	text-align: center;
	margin-top: 30px;
}
.profileDecisionBox select{
	margin-bottom: 20px;
}

/*Change default bootstrap button colors to make them WCAG 2.0 AA compliant
Source: https://codepen.io/scottloway/pen/Xjazjw*/
.btn-danger{
	background-color: #c92a2a!important;
    border-color: #b42626!important;
}
.btn-danger:hover, .btn-danger:focus{
	background-color: #a72323!important;
    border-color: #811b1b!important;
}

.btn-info{
	background-color: #0b7285!important;
    border-color: #095e6d!important;
}
.btn-info:hover, .btn-info:focus{
	background-color: #08525f!important;
    border-color: #042d35!important;
}

.btn-success{
	background-color: #396f3a!important;
    border-color: #305e31!important;
}
.btn-success:hover, .btn-success:focus{
	background-color: #2b542c!important;
    border-color: #1c361c!important;
}

.btn-warning{
	background-color: #b24d04!important;
    border-color: #994203!important;
}
.btn-warning:hover, .btn-warning:focus{
	background-color: #8a3c03!important;
    border-color: #5d2802!important;
}

.btn-primary{
	background-color: #1b6ec2!important;
	border-color: #1861ac!important;
}
.btn-primary:hover, .btn-primary:focus{
	background-color: #165a9e!important;
    border-color: #104376!important;
}

.btn:focus{
	outline: #ff8703 3px solid!important;
}

/*Change pagination to be WCAG 2.0 AA compliant*/
.pagination>.disabled>a{
	color: black!important;
	background-color: #f6f6f6!important;
}