/*Fonts*/
@font-face{
	font-family: 'Source Sans Pro';
	src: url('../include/SourceSansPro-Regular.otf');
}

@font-face{
	font-family: 'Open Sans';
	src: url('../include/OpenSans-Regular.ttf');
}

/*set all default font to open sans*/
*{
	font-family: "Open Sans";
}

/*WMU LOGO*/
.logo {
	width: 25%;
	padding: 0;
}
/*Example Budget image*/
.exampleBudget{
	width: 100%;
	min-width: 1000px;
	border: 3px solid blue;
}

/*give some extra margin to title areas*/
.title{
	margin-top: 50px;
	text-align: center;
}

/*table captions*/
caption{
	text-align: center!important; /*center captions*/
	color: #6f6f6f!important; /*dark grey color*/
}

/*Color warning text*/
.warning{ color: red; font-weight: bold; /*bold font*/}

/*Format page header*/
.page-header{
	margin: 0px 0px 20px 0px!important; /*no extra margin on header, only a bit underneath!*/
	border: none!important; /*no border*/
	padding-top: 30px;/*Pad down a bit!*/
	/*background-color: #c48b04;/*gold background color*/
	background-color: #442416; /*brown background color*/
	box-shadow: 0px 0px 5px rgba(0,0,0,0.8);/*slight shadow under header*/
	text-align: center; /*all header text centered by default*/
}

/*headings*/
.page-header .HomeText{
	font-family: "Source Sans Pro", Arial, Helvetica, sans-serif; /*Source Sans Pro for title*/

	color: #ffffff; /*plain white*/
	font-weight: bold; /*bold font*/
	display: block; /*show underneath image*/
	transition: all 300ms ease-out; /*cool transition on hover*/
}
/*modify secondary hometext to be smaller*/
h2.HomeText{
	font-size: 1.5em;
}

/*home buttons*/
#logoutSub, #HomeLink{
	margin-top: 30px; /*pad it down a bit*/
	font-size: 26px; /*larger text*/
	font-weight: bold; /*bold font*/

	color: #000000; /*black text*/
	background-color: #fcc30f; /*yellow button color*/
	background-image: none;
}
#logoutSub:hover, #HomeLink:hover{
	background-color: #ffa600; /*yellow button color*/
}

/*link to main content -- hide it visually, but make it visible for screen readers*/
#mainContentLink{
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}

/*format button groups*/
.buttons-group{
	text-align: center;
}
.bottom-buttons{
	margin-top: 20px;
	margin-bottom: 20px;
}

/*Format admin page*/
#adminCtrl h2{
	margin-top: 100px;
}
#adminCtrl form{
	text-align: center;
}
#adminCtrl table{
	margin: auto;
	width: auto;
}
#adminCtrl caption{
	font-size: 2em;
}

/*headings*/
h1, h2, h3, h4, h5{
	font-weight: bold; /*make them bold*/
	text-align: center;
}

/*format error help blocks, and highlight relevant fields*/
.help-block{
	color: red!important;
}
.errorHighlight{
	border: 3px solid red;
	margin-bottom: -3px; /*To merge consecutive borders together*/
}

/*By default, have alerts be fixed at the bottom of the screen. Increase the z-index a bit to render in front of some other elements that might otherwise get in the way*/
.alert{
	position: fixed;
	bottom: 0;
	min-width: 80%;
    left: 50%;
    transform: translateX(-50%);
	z-index: 2;
	transition: visibility 0s linear 0s, opacity 150ms; /*turn visibility on immediately at first*/
}
.alert button{
	opacity: 1;
	font-size: 2em;
}
.hideAlert{
	opacity: 0!important;
	visibility: hidden;
	transition: visibility 0s linear 150ms, opacity 150ms; /*turn visibility off slowly after fade-out*/
}

/*hide elements that have the hidden tag*/
[hidden] {
	display: none !important;
}

/*style horizontal rules*/
hr{
	border-color:#a0a0a0!important; /*darker grey than default*/
}

/*style the site-error div that appears when the browser it detected as outdated*/
#site-error{
    width: 100%;
    background-color: #fc3737;
    color: #ffffff;
    text-align: center;
	font-size: 20px;
	padding: 15px 0px;
}

/*format the home page content*/
#homeCtrl{
	text-align: center;
}

/*format the page list on the home page*/
#pageList{
	margin: 25px 0px;
}
#pageList li{
	text-align: left;
	padding-top: 5px;
}


/*Format profile list*/
.profile-list{
	text-align: center;
	padding: 0;
	max-width: 1400px; /*enough for 4 cards side by side*/
	margin: auto; /*center when necessary*/
}
.profile-list .profile-summary{
	width: 25%;
    display: inline-block;
    min-width: 275px;
    max-width: 300px;
	padding: 10px;
	margin: 3px;
	vertical-align: top;
}

.profile-button{
	margin: -10px;
	margin-top: 15px;
	height: 48px;
}
.profile-button a{
	width: 100%;
	height: 100%;
	display: block;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 20px;
	border-radius: 0;
}
.profile-summary-name, .profile-summary-affiliations, .profile-summary-email{
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
.profile-summary-name{
	height: 65.6px; /*height of 2 lines*/
}
.profile-summary-affiliations, .profile-summary-email{
	height: 38.4px; /*height of 2 lines*/
}
.profile-summary-keyterm{
	height: 60px; /*height of 3 lines*/
}

.search-subtext{
	font-size: 18px;
}

#profileSearchForm{
	text-align: center;
}
#profileSearchForm input{
	margin: auto;
	text-align: center;
}
#profileSearchForm .form-group{
	margin: 10px 0px;
}
#profileSearchForm .input-group{
	max-width: 400px;
	margin: auto;
}


/*Format user profiles*/
.profile-summary{
	border: solid 2px #a0a0a0;
	word-wrap: break-word;
	text-align: center;
}
.profile-summary ul{
	text-align: left;
	padding: 0;
}
.profile-summary h2{
	font-weight: bold;
}
.profile-summary h2:not(:first-child){ /*format h2s after first one*/
	font-size: 18px;
}
.profile-summary h3{
	font-size: 1.2em;
}
.profile-summary .btn{
	margin-bottom: 8px;
}

.profile h1, .profile h2, .profile h3, .profile h4, .profile h5{
	text-align: left;
}

.profile-info h2{
	font-size: 1.7em;
	font-weight: bold;
}

.profile-info h3{
	font-size: 17px;
	margin-bottom: 0;
}

.profile-info li{
	font-size: 17px;
}
.profile-info li li{
	font-size: 15px;
}

.profile ul.compactList li{
	display: inline;
}
.profile ul.compactList li:after {
	content: ", ";
}
.profile ul.compactList li:last-child:after {
	content: "";
}

.profile-info div{
	padding: 10px;
}
.profile-info > :nth-child(odd){
	background-color: #f4f4f4;
}

.profile select{
	width: auto;
    display: inline;
}

.profile label{
	margin: 5px;
}
.profile .form-group{
	margin-left: 0!important;
	margin-right: 0!important;
}


/*navigation menus (pagination)*/
nav{
	text-align: center;
}